CW/02Module/202/TestWcf/Client/Aleksey/ServicesViewerClientLib/Service References/ServicesViewerServiceReference/ServicesViewer.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicesViewerLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicesViewerLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfOneService">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OneService" nillable="true" type="tns:OneService" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOneService" nillable="true" type="tns:ArrayOfOneService" />
  <xs:complexType name="OneService">
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BehaviorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndpointBinding" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndpointContract" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceBehaviorConfiguration" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OneService" nillable="true" type="tns:OneService" />
</xs:schema>