03_Oleg/TestWcf/TestWcf/Client/TestMEXClient/Service References/TestWcfClientMex/Calc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Calc" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:555/ICalc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:555/ICalc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalc_Sum_InputMessage">
    <wsdl:part name="parameters" element="tns:Sum" />
  </wsdl:message>
  <wsdl:message name="ICalc_Sum_OutputMessage">
    <wsdl:part name="parameters" element="tns:SumResponse" />
  </wsdl:message>
  <wsdl:message name="ICalc_Substraction_InputMessage">
    <wsdl:part name="parameters" element="tns:Substraction" />
  </wsdl:message>
  <wsdl:message name="ICalc_Substraction_OutputMessage">
    <wsdl:part name="parameters" element="tns:SubstractionResponse" />
  </wsdl:message>
  <wsdl:message name="ICalc_Multiplication_InputMessage">
    <wsdl:part name="parameters" element="tns:Multiplication" />
  </wsdl:message>
  <wsdl:message name="ICalc_Multiplication_OutputMessage">
    <wsdl:part name="parameters" element="tns:MultiplicationResponse" />
  </wsdl:message>
  <wsdl:message name="ICalc_Division_InputMessage">
    <wsdl:part name="parameters" element="tns:Division" />
  </wsdl:message>
  <wsdl:message name="ICalc_Division_OutputMessage">
    <wsdl:part name="parameters" element="tns:DivisionResponse" />
  </wsdl:message>
  <wsdl:portType name="ICalc">
    <wsdl:operation name="Sum">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalc/Sum" message="tns:ICalc_Sum_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalc/SumResponse" message="tns:ICalc_Sum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Substraction">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalc/Substraction" message="tns:ICalc_Substraction_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalc/SubstractionResponse" message="tns:ICalc_Substraction_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Multiplication">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalc/Multiplication" message="tns:ICalc_Multiplication_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalc/MultiplicationResponse" message="tns:ICalc_Multiplication_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Division">
      <wsdl:input wsaw:Action="http://tempuri.org/ICalc/Division" message="tns:ICalc_Division_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICalc/DivisionResponse" message="tns:ICalc_Division_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICalc" type="tns:ICalc">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Sum">
      <soap:operation soapAction="http://tempuri.org/ICalc/Sum" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Substraction">
      <soap:operation soapAction="http://tempuri.org/ICalc/Substraction" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Multiplication">
      <soap:operation soapAction="http://tempuri.org/ICalc/Multiplication" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Division">
      <soap:operation soapAction="http://tempuri.org/ICalc/Division" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Calc">
    <wsdl:port name="BasicHttpBinding_ICalc" binding="tns:BasicHttpBinding_ICalc">
      <soap:address location="http://localhost:555/ICalc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>