CW/02Module/202/TestWcf/Client/TestWcfClientLib/Service References/CalcServiceReference/ICalc.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="CalcService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="CalcService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="CalcService/Imports">
      <xsd:import schemaLocation="http://localhost:555/ICalc?xsd=xsd0" namespace="CalcService" />
      <xsd:import schemaLocation="http://localhost:555/ICalc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:555/ICalc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TestWcfLib" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICalc_Sum_InputMessage">
    <wsdl:part name="parameters" element="tns:Sum" />
  </wsdl:message>
  <wsdl:message name="ICalc_Sum_OutputMessage">
    <wsdl:part name="parameters" element="tns:SumResponse" />
  </wsdl:message>
  <wsdl:message name="ICalc_Execute_InputMessage">
    <wsdl:part name="parameters" element="tns:Execute" />
  </wsdl:message>
  <wsdl:message name="ICalc_Execute_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteResponse" />
  </wsdl:message>
  <wsdl:message name="ICalc_ExecuteParams_InputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteParams" />
  </wsdl:message>
  <wsdl:message name="ICalc_ExecuteParams_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExecuteParamsResponse" />
  </wsdl:message>
  <wsdl:portType name="ICalc">
    <wsdl:operation name="Sum">
      <wsdl:input wsaw:Action="CalcService/ICalc/Sum" message="tns:ICalc_Sum_InputMessage" />
      <wsdl:output wsaw:Action="CalcService/ICalc/SumResponse" message="tns:ICalc_Sum_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Execute">
      <wsdl:input wsaw:Action="CalcService/ICalc/Execute" message="tns:ICalc_Execute_InputMessage" />
      <wsdl:output wsaw:Action="CalcService/ICalc/ExecuteResponse" message="tns:ICalc_Execute_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExecuteParams">
      <wsdl:input wsaw:Action="CalcService/ICalc/ExecuteParams" message="tns:ICalc_ExecuteParams_InputMessage" />
      <wsdl:output wsaw:Action="CalcService/ICalc/ExecuteParamsResponse" message="tns:ICalc_ExecuteParams_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>