CW/02Module/202/TestWcf/Client/TestWcfClientLib/Service References/CalcServiceReference/ICalc1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="CalcService" elementFormDefault="qualified" targetNamespace="CalcService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:555/ICalc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TestWcfLib" />
  <xs:element name="Sum">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:int" />
        <xs:element minOccurs="0" name="b" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SumResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="SumResult" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Execute">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="expression" nillable="true" type="tns:Expression" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="Expression">
    <xs:sequence>
      <xs:element minOccurs="0" name="A" type="xs:decimal" />
      <xs:element minOccurs="0" name="B" type="xs:decimal" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/TestWcfLib" minOccurs="0" name="MathAction" type="q1:MathAction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Expression" nillable="true" type="tns:Expression" />
  <xs:complexType name="ExpressionPlus">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:Expression">
        <xs:sequence>
          <xs:element minOccurs="0" name="Z" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExpressionPlus" nillable="true" type="tns:ExpressionPlus" />
  <xs:element name="ExecuteResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecuteResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteParams">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="a" type="xs:decimal" />
        <xs:element minOccurs="0" name="b" type="xs:decimal" />
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TestWcfLib" minOccurs="0" name="mathAction" type="q2:MathAction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ExecuteParamsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ExecuteParamsResult" type="xs:decimal" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>