CW/02Module/202/TestWcf/Client/Aleksey/ServicesVeawerClientLib/Service References/ServicesVeawerServiceReference/ServicesVeawer1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ServicesVeawerLib" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ServicesVeawerLib" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:555/ServicesVeawer?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfService">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Service" type="tns:Service" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfService" nillable="true" type="tns:ArrayOfService" />
  <xs:complexType name="Service">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="BaseAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BehaviorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndpointBinding" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndpointContract" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceBehaviorConfiguration" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ServiceName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Service" nillable="true" type="tns:Service" />
</xs:schema>